{% extends 'base.html' %}
{% block content %}


<div class="container">
    <h1 class="display-1 text-center">Cupcakes</h1>
    <form action="">
        <h2 class="display-5">Add Cupcake</h2>
        {% for field in form 
            if field.widget.input_type != 'hidden' %}
        <div class="form-group">
            {{field.label(class_="form-label")}}
            {{field(class_="form-control")}}
        </div>
        
        {% for err in field.errors%}
        <small class="form-text text-muted">
            {{err}}
        </small>
        {% endfor %}

        {% endfor %}
        <button class="btn btn-primary mt-3" type="submit">Add</button>
    </form>
    <div class="row">
        <div id="cupcakes" class="col"></div>
    </div>
</div>

{% endblock %}